:host {
    display: flex;
/*    flex: 1 1 auto;*/
}

.can-drop {
    padding: 1px;
}

.dropzone {
    display: flex;
    flex: 1 1 auto;
/*    height: 100%;*/
    /*margin-top: -27px;*/ /* Shift the template up, allows dropping onto the date itself */
}

.inner {
    display: flex;
    flex: 1 1 auto;
    /*    height: 100%;*/
}

.can-drop .inner {
    border-radius: 5px;
    border: 2px dashed darkgrey;
}