.can-drop {
    padding: 1px;
}

.dropzone {
    height: 100%;
    margin-top: -27px; /* Shift the template up, allows dropping onto the date itself */
}

.inner {
    height: 100%;
}

.can-drop .inner {
    border-radius: 5px;
    border: 2px dashed darkgrey;
}