<div class="dropzone @dropCss"
     ondragover="event.preventDefault();"
     @ondragenter="HandleDragEnter"
     @ondragleave="HandleDragLeave"
     @ondrop="HandleDrop">
    <div class="inner"></div>
</div>

